{% extends "base.html" %}

{% block title %}Add question{% endblock %}
{% block content %}
<div class="container">
    <div style="margin-top: 4%; margin-bottom: 4%;">
        <h2 class="text-center">Add Question to {{current_test}}</h2>
    </div>
    <form action="" method="POST">
        {% csrf_token%}
        <table class="table table-borderless ">
            <tbody>
            <tr style="display: flex; flex-flow: row nowrap; width: 100%;"
                class="d-flex flex-column bd-highlight mb-3 border border-secondary">
                <td colspan="2"> <p class="text-center">Question text:</p>
                <textarea name="question_text" placeholder="question text" maxlength="100"  class="form-control" required></textarea>
            </td>
            {%if error%}
                <td colspan="2"><p class="warning text-center">*question already exist!</p></td>
            {% endif%}
                <td colspan="2"><p class="text-center">Amount of answers: <input type="number" name="answers_amount" min="2" max="6" value="4" required></p></td>
            </tr>
            </tbody>
        </table>
        <p><input type="submit" value="add answers to this question" class="btn btn-outline-primary btn-lg btn-block "></p>
    </form>
</div>
<!-- TODO create warning before leave page-->
<!--<script>-->
<!--    let func = function () {-->
<!--        return 'Are you sure you want to leave?';-->
<!--    };-->
<!--    $(window).bind('beforeunload', func);-->
<!--</script>-->
{% endblock %}
<!--  <form action="{% url 'add_option_answers' id_question=7%}" method="POST">-->
<!--    <-->