{% extends "base.html" %}

{% block title %}add question{% endblock %}
{% block content %}
<div class="d-flex justify-content-center ">
    <form action="" method="POST">
        {% csrf_token%}
        {% if not no_questions%}
        <div class="form-group">
            <label>
                <select name="selected_question">
                    {% for i in questions%}
                    <option>{{i}}</option>
                    {% endfor%}
                </select>
            </label>
            <p><input type="submit" value="add question to"></p>
        </div>
        {% else %}
        <p>no questions available</p>
        {% endif %}
    </form>
</div>
{% endblock %}