{% extends "base.html" %}

{% block title %}View text{% endblock %}
{% block content %}

<div class="table-responsive-sm">
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th colspan="12" class="text-center">My questions</th>
        </tr>
        </thead>
        <tbody>
        {%for el in questions_and_answers%}
        <tr class="bg-success">
            <td colspan="6" class="text-center">{{ forloop.counter }} : {{el.question}}</td>
            <td><a href="{% url 'permanent_delete_question' id_question=el.question.id%}">permanent_delete_question</a></td>
        </tr>
        <tr style="display: flex; flex-flow: row nowrap; width: 100%;" class="table-success text-dark">
            {% if not el.answer_options%}
            <td style="width: 100%;"><p class="text-xs-center">No answers created</p></td>
            <td><a href="{% url 'add_option_answers' id_question=el.question.id %}">create</a></td>
            {% endif%}
            {%for j in el.answer_options%}
            <td style="width: 100%;"><p class="text-xs-center"> {{j}}</p></td>
            {% endfor%}

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock%}
