{% extends "base.html" %}

{% block title %}My tests{% endblock %}
{% block content %}

<div class="container">
    <div style="margin-top: 4%">
        <h2 class="text-center" >My tests</h2>
    </div>
    <table class="table table-hover table-borderless">
        <thead class="">
        <tr>
            <th colspan="5">Test name:</th>
        </tr>
        </thead>
        <tbody>
        {%for i in list%}
        <tr>
            <td class="col-2">{{i}}</td>
            <td class="col-2">
                <a href="{% url 'view_test' id_test=i.id%}" class="btn btn-outline-primary btn-sm btn-block">View test</a>
            </td>
            <td class="col-2">
                <a href="{% url 'add_question' id_test=i.id%}" class="btn btn-outline-primary btn-sm btn-block">Add new question</a>
            </td>
            <td class="col-2">
                <a href="{% url 'add_existing_questions' id_test=i.id%}" class="btn btn-outline-primary btn-sm btn-block">Add existing
                    question</a>
            <td class="col-2">
                <a href="{% url 'delete_quiz' id_test=i.id%}" class="delete_class btn btn-outline-danger btn-sm btn-block">delete
                    test</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td class="col-2">
                <a href="{% url 'create_quiz'%}" class="btn btn-secondary btn-sm btn-block">Create new test</a>
            </td>
            <td class="col-2">
                <a href="{% url 'my_question_list'%}" class="btn btn-secondary btn-sm btn-block">Go to my questions</a>
            </td>
            <td class="col-2">
                <a href="{% url 'my_test_results'%}" class="btn btn-secondary btn-sm btn-block">Go to my results</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script>
    $(document).on('click', '.delete_class', function () {
        return confirm('Are you sure you want to update this?');
    })
</script>

{% endblock%}
