{% extends "base.html" %}

{% block title %}View text{% endblock %}
{% block content %}

<div class="table-responsive-sm">
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th colspan="12" class="text-center">{{current_test}}</th>
        </tr>
        </thead>
        <tbody>
        {%for el in q_a%}
        <tr class="bg-success">
            <td colspan="12" class="text-center">{{ forloop.counter }} : {{el.q}}</td>
        </tr>
        <tr style="display: flex; flex-flow: row nowrap; width: 100%;" class="table-success text-dark">
            {%for j in el.ao%}
            <td style="width: 100%;"><input type="radio" name="{{el.q.id}}">  {{j}}</input></td>
            {% endfor%}

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock%}
