<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href="{% static 'css/log_in.css' %}">
    <link rel='stylesheet' href="{% static 'css/warning.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'home_page' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'available_test_list' %}">Available Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test_list' %}">My tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'log_out' %}">Logout</a>
            </li>
            {% else%}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'log_in' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
<div class="container">
    <div style="margin-top: 4%; margin-bottom: 4%;">
        <h2 class="text-center">Welcome to TestQuiz</h2>
    </div>
    {% if user.is_authenticated %}
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td class="col-2">
                <a href="{% url 'available_test_list'%}" class="btn btn-secondary btn-sm btn-block">Go to available
                    tests to attempt</a>
            </td>
            <td class="col-2">
                <a href="{% url 'test_list'%}" class="btn btn-secondary btn-sm btn-block">Go to my tests</a>
            </td>
        </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td class="col-2">
                <a href="{% url 'log_in'%}" class="btn btn-secondary btn-sm btn-block">Log In</a>
            </td>
            <td class="col-2">
                <a href="{% url 'register_user'%}" class="btn btn-secondary btn-sm btn-block">Register</a>
            </td>
        </tr>
        </tbody>
    </table>
    {% endif %}
</div>
</div>

{% endblock %}
</body>
</html>